* Janaki Sajja
* EAI6000
* 02-24-2020
* Assignment1

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.neural_network import MLPClassifier

# Load the data

In [2]:
import os
for dirname, _, filenames in os.walk('/Users/sunil/Downloads/kaggle/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/sunil/Downloads/kaggle/gender_submission.csv
/Users/sunil/Downloads/kaggle/test.csv
/Users/sunil/Downloads/kaggle/train.csv

In [3]:
train_data = pd.read_csv("/Users/sunil/Downloads/kaggle/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("/Users/sunil/Downloads/kaggle/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Prediction1:

# Improving score
* Goal: To find out patterns in train.csv that help us to predict if the passengers in test.csv survived. Initially we might feel that finding patterns in really overwhelming because there is so much data to sort. We will begin with simple.

* Explore a pattern The sample submission file in gender_submission.csv assumes that all female passengers survived (and all male passengers died). Is this guess reasonable ? Let's check if this pattern holds true in the data (in train.csv).

In [5]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

The code above shows the percentage of female passengers (in train.csv) who survived.

In [6]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

The code above shows the percentage of male passengers (in train.csv) who survived.

We understood that almost 75% of the women survived, whereas only 19% of the men survived. As gender seems to be such a major indicator of survival, the submission file in gender_submission.csv is not a bad guess. The gender-based submission bases its predictions on only a single column. As you can imagine, by considering multiple columns, we can discover more complex patterns that can potentially yield better-informed predictions. Since it is quite difficult to consider several columns at once and it would take a long time to consider all possible patterns in many different columns simultaneously, Let's use machine learning to automate this.

In [7]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
print(output.head())
output.to_csv('my_submission-1.csv', index=False)
print("Your submission was successfully saved!")

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
Your submission was successfully saved!

# Prediction2:

In [8]:
train_data = pd.read_csv('/Users/sunil/Downloads/kaggle/train.csv')
train_data.dropna(how = 'all')
train_data.dropna(axis= 1, how = 'all') 
test_data = pd.read_csv('/Users/sunil/Downloads/kaggle/test.csv')
test_data.dropna(how = 'all')
test_data.dropna(axis= 1, how = 'all')
test_result = pd.read_csv('/Users/sunil/Downloads/kaggle/gender_submission.csv')

In [9]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()

In [10]:
train_2 = train_data.drop(['Survived'],axis=1)
test_2 = test_data

In [11]:
train_2['Name'] = l.fit_transform(train_2['Name']) 
train_2['Sex'] = l.fit_transform(train_2['Sex']) 
train_2['Ticket'] = l.fit_transform(train_2['Ticket']) 
train_2['Age'] = l.fit_transform(train_2['Age'])

In [12]:
train_2 = train_2.drop(['Cabin','Embarked'],axis=1)
train_2.head()

   PassengerId  Pclass  Name  Sex  Age  SibSp  Parch  Ticket     Fare
0            1       3   108    1   28      1      0     523   7.2500
1            2       1   190    0   51      1      0     596  71.2833
2            3       3   353    0   34      0      0     669   7.9250
3            4       1   272    0   47      1      0      49  53.1000
4            5       3    15    1   47      0      0     472   8.0500

In [13]:
test_2['Name'] = l.fit_transform(test_2['Name']) # Encode all Names
test_2['Sex'] = l.fit_transform(test_2['Sex']) #Encode all Genders
test_2['Ticket'] = l.fit_transform(test_2['Ticket']) # Encode all states
test_2['Age'] = l.fit_transform(test_2['Age'])
test_2['Fare'] = l.fit_transform(test_2['Fare'])
test_2 = test_2.drop(['Cabin','Embarked'],axis=1)
test_2

     PassengerId  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare
0            892       3   206    1   44      0      0     152    24
1            893       3   403    0   60      1      0     221     5
2            894       2   269    1   74      0      0      73    41
3            895       3   408    1   34      0      0     147    34
4            896       3   178    0   27      1      1     138    46
..           ...     ...   ...  ...  ...    ...    ...     ...   ...
413         1305       3   353    1   80      0      0     267    31
414         1306       1   283    0   51      0      0     324   154
415         1307       3   332    1   50      0      0     346     9
416         1308       3   384    1  124      0      0     220    31
417         1309       3   302    1  164      1      1     105    84

[418 rows x 9 columns]

In [14]:
test_2.isna().values.any()
test_2.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [15]:
test_result = pd.read_csv('/Users/sunil/Downloads/kaggle/gender_submission.csv')
y_train_2 = train_data['Survived']
#y_test_2 = test_result['Survived']
test_2['Survived'] = test_result['Survived']
#test_2 = test_2.dropna(how = 'any')
y_test_2 = test_2['Survived']
test_2 = test_2.drop(['Survived'],axis=1)
y_test_2

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [16]:
rf = RandomForestClassifier(n_estimators=50, class_weight='balanced')
tree = DecisionTreeClassifier(criterion="entropy")
gbm = GradientBoostingClassifier(learning_rate=0.2, max_depth=8)

In [17]:
rf.fit(train_2,y_train_2)
#y_pred = rf.predict(test_2)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
y_pred_2 = rf.predict(test_2)

In [19]:
f1_score(y_test_2,y_pred_2,average='micro')

0.7440191387559809

# GradientBoostingClassifier

In [20]:
gbm.fit(train_2,y_train_2)
y_pred_2 = gbm.predict(test_2)
f1_score(y_test_2,y_pred_2,average='micro')

0.7153110047846891

# DECISION TREE

In [21]:
tree.fit(train_2,y_train_2)
y_pred_2 = tree.predict(test_2)
f1_score(y_test_2,y_pred_2,average='micro')

0.6818181818181818

# KNN

In [22]:
nn = MLPClassifier(activation='relu',alpha=0.01,hidden_layer_sizes=(25,17))
nn.fit(train_2,y_train_2)
y_pred_2 = nn.predict(test_2)

/Users/sunil/opt/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [23]:
f1_score(y_test_2,y_pred_2,average='micro')

0.5358851674641149

# References:

* https://www.kaggle.com/jeffd23/scikit-learn-ml-from-start-to-finish
* https://www.kaggle.com/nadintamer/titanic-survival-predictions-beginner